@charset "utf-8";
html{
	background-image:url("Images/Homepage_BG.png");
	background-repeat: no-repeat center fixed;
	background-size:cover;
}
	h1{
		color:#626868;
		text-align:center;
		font-family: "Courier New";
		font-size: 28px;

	}
	h2{
		color:#939196;
		text-align:center;
		font-family:"Courier New";
		font-size:28px;
	}
h3{
	color:#939196;
	text-align:center;
	font-family:"Courier New";
	font-Size: 28px;
	
}
h4{
	color:#939196;
	text-align:center;
	font-family:"Courier New";
	font-size:24px;
}
.container {
  position: relative;
  text-align: center;
  color:#939196;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-family:"Courier New";
	font-size: 28px;
}
.image{
	opacity: 1;
	display:block;
	margin-bottom: auto;
	margin-top: auto;
	width:100%;
	height:auto;
	transition: .5s ease;
	backface-visibility: hidden;
	
}
.column {
  float: left;
  width: 25%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.container:hover .image {
  opacity: 0.3;
}
.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}
/* CSS Document */

